$mainColor: #ed95c2;
$active: lighten(#f50b85, 40%);
$accent: #940650;
$succes: complement($mainColor);
$accentDark: darken($accent, 10%);

@-webkit-keyframes signupBorder {
	0%     { background: rgba($accent, 0); }
	24%    { background: rgba($accent, 0); }
	25%    { background: rgba($accent,.3); }
	100%   { background: rgba($accent,0); }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
}
body { font-family: 'Raleway', sans-serif; overflow-x: hidden; /*weight available: 400, 700, 800*/ }
html {
	overflow-x: hidden;
}
input[type=submit] {
	&:active,
	&:focus {
		outline: none;
	}
	outline: none;
}

body#cgu, body#about {
	p, ul {
		margin-bottom: 30px;
	}
	p, ul li {
		line-height: 25px;
	}
}

a {
	text-decoration: none;
	color: #fff;
}
nav ul li { list-style-type: none; }

#mentions {
	width: 50%;
	text-align: center;
	margin: 20px auto;
	font-size: 0.8em;
}

a.link {
	text-decoration: underline;
	color: $accent;
	&:hover,
	&:active {
		color: $active;
	}
}

h1.title {
	margin-top: 50px;
	color: $accent;
	text-align: center;
}
hr {
	border: 0;
  border-bottom: 1px solid #DCDCDC;
  clear: both;
  display: block;
  height: 0;
  margin: 0 auto 40px auto;
  padding-top: 50px;
  width: 100%;
}
h2 {
	margin: 30px  0;
	line-height: 1.1em;
	margin-bottom: 5px;
	color: $accent;
}
.container {
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	padding: 0 25px;
}
.ontop {
	position: absolute;
	z-index: 9;
}
.goTop {
	background: url('images/top.svg') no-repeat;
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	opacity: .3;
	transform: scale(2);
	cursor: pointer;
	visibility: hidden;
	z-index: 9;
	transition-duration: .4s;
}
.goTop:hover { opacity: 1; }
header {
	z-index: 10;
	background: $mainColor;
	box-shadow: 0 0 5px $accent;
	padding: 12px 0;
	text-align: center;
	line-height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	nav li {
		font-size: 1em;
		padding: 0 20px;
		display: inline;
		a:hover {
			color: $active;
			padding-bottom: 15px;
			border-bottom: 9px solid $active;
		}
		a:focus { outline: none; }
		a.active {
			color: $active;
			padding-bottom: 15px;
			border-bottom: 9px solid $active;
		}
	}
	a.signup {
		position: absolute;
		right: 25px;
		top: 5px;
		border: 3px solid #fff;
		padding: 0 20px;
		animation: signupBorder 5s infinite;
		animation-timing-function: ease;
		&:hover {
			border-color: $active;
			color: $active;
		}
	}
	.logo {
		background: url('images/logo.png') no-repeat;
		background-size: cover;
		width: 55px;
		height: 55px;
		left: 25px;
		position: absolute;
		margin-top: -7px;
	}
	.container { padding: 0 10px; }
}
.unfold {
	display: none;
	position: fixed;
	top: 0;
	left: calc(50% - 25px);
	background-color: red;
	border-radius: 0 0 50% 50%;
	width: 25px;
	height: 18px;
	padding: 5px;
	.menu-icon {
		background: url('images/menu.png') no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 100%;
	}
}
#home {
	padding: 1px 0 50px 0;
	background: $mainColor url('images/bg-how-it-works.png') repeat fixed;
	color: #fff;
	text-align: center;
	h1 {
		font-size: 4em;
		font-weight: 800;
	}
	.attract {
		font-size: 2.5em;
		font-weight: 700;
	}
	p {
		font-size: 1.2em;
		padding: 10px 0;

	}
	a {
		background: $accent;
		padding: 12px 24px;
		font-size: 1.4em;
		font-weight: 700;
		box-shadow: 8px 8px 0 $accentDark;
		border-radius: 8px;
		margin: 30px 0;
		display: inline-block;
		transition-duration: .4s;
		&:hover {
			color: $mainColor;
			background: #fff;
			transition-duration: .4s;
			box-shadow: 0 2px 3px transparent;
		}
	}
}

.windowBg {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.shapes {
	background: url('images/shapes.svg') center no-repeat fixed;
	position: relative;
	width: 100%;
	height: 1920px;
}

#howItWorks {
	padding: 75px 0;
	color: $accent;
	line-height: 1.8em;
	.section { margin-bottom: 30px; }
}

p {
	padding-left: 3px;
}
#faq {
	padding: 50px 0;
	background: #ffe7fd url(images/faqBG.svg) repeat;
	color: $accent;
	line-height: 1.8em;
}

.field {
	border: none;
	padding: 7px 10px;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	margin: 5px 0;
	color: $accent;
	width: 100%;
	outline: none;
	&:hover { box-shadow: 0 0 5px $accentDark; }
	&:focus { box-shadow: 0 0 5px $accentDark; }
}

main {
	margin-top: 70px;
}

#roadmap {
	padding: 50px 0;
	background-color: white;
	h2 {
		font-size: 2.8em;
	}
	small {
		display: block;
		margin-top: 30px;
		a {
			color: $mainColor;
			text-decoration: underline;
		}
	}
	.timeline {
		display: inline-block;
		text-align: left;
	}
}

#getInTouch {
	padding: 50px 0;
	background: url(images/getintouch.svg) right 0 no-repeat, url(images/getintouchBG.svg) repeat;
	background-color: $mainColor;
	h2 {
		color: #fff;
		font-size: 2.8em;
	}
	p {
		color: white;
		padding-left: 10px;
	}
	form {
		margin-top: 30px;
	}
	textarea {
		width: 100%;
		height: 200px;
		resize: none;
	}
	.bt {
		background: $accent;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		border: none;
		padding: 7px 10px;
		font-size: 1.2em;
		font-weight: 700;
		width: 100%;
		margin: 5px 0;
		cursor:pointer;
		&:hover { background: $accentDark; }
	}
}

footer {
	padding: 10px 0;
	color: $accentDark;
	height: auto !important;
	.socials {
		margin-top: 20px;
		text-align: center;
	}
	.socials a {
		color: $accent;
		margin: 0 7px;
		&:hover {
			color: $active;
		}
	}
}


#contact-message {
	.success {
		color: $succes;
	}
	.fail {
		color: #ff073a;
	}
	.success, .fail {
		visibility: hidden;
	}
	font-size: 1.2em;
	padding: 10px 0;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	img {
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
		display: block;
	}
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media screen and (max-width: 640px) and (orientation:landscape) {
	header {
		display: none;
	}
	main {
		margin-top: 0;
	}
	#home {
		height: 750px !important;
		.ontop {
			margin-top: 0 !important;
		}
	}
}
@media screen and (max-width: 880px) {
	header {
		nav li {
			font-size: 1.15em;
			a.active, a:hover { padding-bottom: 5px; }
		}
		a.signup {
			position: relative;
			float: right;
			margin-left: 5px;
		}
		.logo { margin-left: 0; }
	}
}
@media screen and (max-width: 660px) and (orientation:portrait) {
	header {
		height: 100px;
		.logo { display: none; }
		a.signup { padding: 5px 8px; }
	}
	main {
		margin-top: 100px;
	}
	ul { padding-left: 0; }
}
@media screen and (max-width: 600px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
	.col {
		margin: 0;
	}

}
@media screen and (max-width: 440px) {
	header {
		display: none;
	}
	main {
		margin-top: 0;
	}
	#home {
		.ontop {
			top: 0;
		}
		h1 { font-size: 3em; }
		.attract { font-size: 1.4em; }
	}
}
@media screen and (max-width: 360px) {

}
